<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=ch.sbb.maven.archetypes"/>
        <listEntry value="archetypeArtifactId=iib9-maven-projects"/>
        <listEntry value="archetypeVersion=1.0"/>
        <listEntry value="groupId=com.webproject"/>
        <listEntry value="artifactId=MyWebApp"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=com.webproject.MyWebApp"/>
        <listEntry value="outputDirectory=C:\Users\rkanchan\Documents\Lambda Project"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\rkanchan\AppData\Local\Temp\m2e-archetypeGenerator2762999509536006521"/>
</launchConfiguration>
